
<barra></barra>
<br>
<br>

<div class="container main-conteiner">
    <router-outlet></router-outlet>
</div>
<br>
<br>
<div>
    <ul>Alumno: Eduardo Castillo Moreno</ul>
    <ul>Matricula: 170450</ul>
    <ul>Desarrollo de aplicaciones WEB</ul>
    <ul>ITIC. Iván Eduardo García Quintero</ul>
</div>
    

<!-- <add-app></add-app> -->
<!-- <add-app></add-app> -->
<!-- <div class="container">
<barss #mivariable [nombre]="name" (saludar)="onSaludar($event)"></barss>

<br>
<p>
    Validando... <span [ngClass]="valida(mivariable.nombrelista)">**************</span>
    
</p>
</div> -->




<!-- <form-app></form-app> -->


<!-- <ny-org-saludos></ny-org-saludos> -->