.invisible{
    visibility: hidden;
}

.weal{
    color: red;
}

.medium{
    
    color: yellow;
}

.strong{
    color: green;
}

.progress[value] {
    background-color: yellow;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  
    width: 250px;
    height: 20px;
    
    position: relative;
    display: block;
    max-width: 100%;
    width: 30%;
 }